.theme-toggle {
  position: fixed;
  bottom: 25px;   /* Bottom space */
  right: 25px;    /* Moved to right */

  width: 48px;
  height: 48px;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  color: #fff;

  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
  transition: 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.12);
}
